body {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    background-color: #7798AB;
    font-size: 18px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    margin-top: 25vh;
}

#weatherForm { 
    font-size: 20px;
    display: flex;
    width: auto;
}

#weatherForm label {
    padding-left: 1em;
}

#weatherSubmit {
    width: 150px;
    height: 30px;
    margin-left: 1em;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 17px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    flex-grow: 1;
}

#weatherInput {
}

#heading-title {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: #E8DCB9;
    font-size: 4em;
}